.App {
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: grey;
}
.cta-button {
  padding: 5px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

#HeroSection {
  height: 100vh;
  justify-content: center;
}

#nav {
  height: 80px;
  background: #494947;
}

#NavLink {
  color: white;
}

#background-video {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}